$blackColor: #000;
$whiteColor: #fff;
$redColor: #d7794a;
$blueColor: rgb(0, 179, 240);
$blueColorOp: rgba(0, 179, 240, 0.3);
$greyColor: rgb(128, 128, 128);
$darkBlueColor: #1b2b31;
$darkBlueColor_2: #253942;
